/* Universal styling  */
html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: inherit;
}

img {
    width: 400px;
    height: auto;
    flex: 0 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}




/* navbar x header */
.navigation-bar,
.header {
    width: 100%;
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 4rem;
    font-family: Arial, Helvetica, sans-serif;

}

.logo,
.header-content {
    margin-left: 4rem;
}

.links,
img {
    margin-right: 4rem;
}

.content-heading,
.logo {

    color: #F9FAF8;
}

.links,
.content-para {
    color: #E5E7EB;
}

/*navbar */

.logo {
    font-size: 24px;

}

.links {
    display: flex;
    gap: 2.5rem;
    font-size: 18px;

}

/* header */

.content-heading {
    font-size: 48px;
    font-weight: extra-bold;
}



.header-content {
    display: flex;
    flex-direction: column;
    inline-size: 500px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.header-content p {
    margin: 5px 0 5px 0;
}

.header-content button {
    color: white;
    padding: 8px;
    background-color: #3882f6;
    width: 90px;
    border-radius: 8px;
    border-style: none;
    margin-top: 5px;
    ;
}


/*Website Content*/
/*Cards-content*/
.cards-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;

    padding: 24px;
    text-align: center;
}

.card {
    border: 3px solid #3882f6;
    border-radius: 8px;
    inline-size: 150px;
    block-size: 150px;
    margin: 0 auto;
}

.item {
    inline-size: 150px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    padding: 24px;
}

.item p {
    margin-top: 5px;
}


/* Testimonials */
.testimonials {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    display: flex;
    flex-direction: column;

}